In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('50lke.csv')
data

,SIRALAMA,ÜLKELER,MİLLİ GELİR,2023,BÜYÜME,KİŞİ BAŞINA,SIRALAMA.2,KITA
0,1,United States,20412.87,24537.0,2.27,62152.0,9,North America
1,2,China,14092.51,21574.0,6.86,10088.0,72,Asia
2,3,Japan,5167.05,5962.0,1.71,40849.0,25,Asia
3,4,Germany,4211.64,5272.0,2.51,50842.0,17,Europe
4,5,United Kingdom,2936.29,3477.0,1.79,44177.0,23,Europe
5,6,France,2925.10,3586.0,1.85,44934.0,21,Europe
6,7,India,2848.23,4663.0,6.74,2135.0,142,Asia
7,8,Italy,2181.97,2554.0,1.47,35914.0,27,Europe
8,9,Brazil,2138.92,2717.0,0.98,10224.0,71,South America
9,10,Canada,1798.51,2434.0,3.00,48466.0,20,North America
10,11,Russia,1719.90,1974.0,1.55,11947.0,65,Europe
11,12,Korea,1693.25,2155.0,3.09,32775.0,29,Asia
12,13,Spain,1506.44,1875.0,3.05,32559.0,31,Europe
13,14,Australia,1500.26,1958.0,2.27,59655.0,11,Oceania
14,15,Mexico,1212.83,1586.0,2.04,9723.0,74,North America
15,16,Indonesia,1074.97,1549.0,5.07,4052.0,116,Asia
16,17,Netherlands,945.33,1168.0,3.11,55185.0,13,Europe
17,18,Turkey,909.89,1224.0,7.05,11114.0,68,Asia
18,19,Saudi Arabia,748.00,866.0,-0.74,2265.0,42,Asia
19,20,Switzerland,741.69,929.3,1.07,86835.0,2,Europe
20,21,Argentina,625.92,831.7,2.86,14044.0,60,South America
21,22,Poland,614.19,793.2,4.55,1618.0,55,Europe
22,23,Taiwan Province of China,613.30,659.6,2.79,25977.0,37,Asia
23,24,Sweden,600.77,745.0,2.40,58345.0,12,Europe
24,25,Belgium,562.23,685.8,1.71,49272.0,18,Europe
25,26,Thailand,483.74,649.9,3.90,6992.0,85,Asia
26,27,Austria,477.67,595.4,2.90,53764.0,14,Europe
27,28,Norway,443.25,520.6,1.81,82711.0,5,Europe
28,29,Islamic Republic of Iran,418.88,472.3,4.28,5086.0,102,Asia
29,30,United Arab Emirates,411.83,515.4,0.53,39484.0,26,Asia
30,31,Nigeria,408.61,873.9,0.82,2108.0,143,Africa
31,32,Ireland,385.14,505.6,7.81,80641.0,6,Europe
32,33,Israel,373.75,482.1,3.32,42115.0,24,Asia
33,34,South Africa,370.89,455.8,1.32,6459.0,91,Africa
34,35,Denmark,369.76,465.4,2.11,6383.0,8,Europe
35,36,Malaysia,364.92,568.0,5.90,11237.0,67,Asia
36,37,Hong Kong SAR,364.78,489.8,3.82,48829.0,19,Asia
37,38,Singapore,349.66,437.8,3.62,61767.0,10,Asia
38,39,Philippines,332.45,523.0,6.67,3095.0,131,Asia
39,40,Colombia,327.98,435.0,1.77,6581.0,89,South America
40,41,Pakistan,324.73,471.4,5.28,1615.0,151,Asia
41,42,Finland,289.56,356.8,2.99,52422.0,15,Europe
42,43,Bangladesh,285.82,444.2,7.14,1734.0,150,Asia
43,44,Chile,280.27,359.8,1.47,15087.0,58,South America
44,45,Egypt,253.25,367.6,4.23,2611.0,135,Africa
45,46,Czech Republic,251.58,358.2,4.29,2375.0,40,Europe
46,47,Portugal,248.89,301.8,2.67,24237.0,39,Europe
47,48,Romania,245.59,350.6,7.00,12575.0,63,Europe
48,49,Vietnam,240.78,373.8,6.81,2546.0,137,Asia
49,50,Peru,231.57,311.2,2.51,7199.0,84,South America

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SIRALAMA     50 non-null     int64
 1   ÜLKELER      50 non-null     object
 2   MİLLİ GELİR  50 non-null     float64
 3   2023         50 non-null     float64
 4   BÜYÜME       50 non-null     float64
 5   KİŞİ BAŞINA  50 non-null     float64
 6   SIRALAMA.2   50 non-null     int64
 7   KITA         50 non-null     object
dtypes: float64(4), int64(2), object(2)
memory usage: 3.2+ KB

In [5]:
data.describe()

,SIRALAMA,MİLLİ GELİR,2023,BÜYÜME,KİŞİ BAŞINA,SIRALAMA.2
count,50.00000,50.000000,50.00000,50.000000,50.000000,50.000000
mean,25.50000,1646.348200,2149.22000,3.320400,27696.000000,55.040000
std,14.57738,3448.554429,4518.18979,2.053468,25094.131496,45.200217
min,1.00000,231.570000,301.80000,-0.740000,1615.000000,2.000000
25%,13.25000,353.440000,466.90000,1.795000,6402.000000,18.250000
50%,25.50000,522.985000,672.70000,2.880000,14565.500000,39.500000
75%,37.75000,1504.895000,1937.25000,4.287500,48738.250000,81.500000
max,50.00000,20412.870000,24537.00000,7.810000,86835.000000,151.000000

In [9]:
data['KITA'].value_counts()

Asia             19
Europe           19
South America     5
Africa            3
North America     3
Oceania           1
Name: KITA, dtype: int64